snippet fce "function component export (with prop interface)" b
import React from "react";

export interface $1Props {
	$3
}

export const ${1:`!v expand('%:t:r')`}: React.FC<$1Props> = ({}) => {
  return (
    <React.Fragment>
      ${4:null}$0
    </React.Fragment>
  );
}
endsnippet


